<!--
base will provide the structure for
our menu bar and our log in/out/sign up
button.
-->

<!DOCTYPE html>

<html>


<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>


<body id='body'>
<section class='main'>
    <div class='top_left'>
        {% block top_left %}

        {% endblock %}
    </div>

    <div class="top_right">
        {% block top_right %}

        {% endblock %}
    </div>

    <div class="content_left">
        {% block content_left %}

        {% endblock %}
    </div>
    <div class="content_right">
        {% block content_right %}

        {% endblock %}
    </div>
    <div class="footer_left">
        {% block footer_left %}

        {% endblock %}
    </div>
    <div class="footer_right">
        {% block footer_right %}

        {% endblock %}
    </div>

</section>

</body>


</html>
