<!--
    this page will hold user usage data,
    display a user's trackers,
    and (eventually) host a performance analyzer the user sets
-->
{% extends 'base.html' %}

{% block top_left %}
    <div class="buttons">
        <a href='/' class='navText' id='home'>winTracker</a>
    </div>
{% endblock %}

{% block top_right %}

    <div class="buttons" >
        <div id='loginDash'>
        <a href='/dashboard' class='navText'>Profile</a>
        </div>

        <div id='logout'>
        <a href='/logout'  class='navText'>Log Out</a>
        </div>
    </div>

{% endblock %}

{% block content_left %}
<p>{{ user.username }}</p>
{% endblock %}
