<!--
    this page will hold user usage data,
    display a user's trackers,
    and (eventually) host a performance analyzer the user sets
-->
{% extends 'base.html' %}

{% block top_left %}
    <div class="buttons" >
        <a href='/' class='navText' id='home'>winTracker</a>
    </div>

{% endblock %}

{% block top-_right %}

    <div class="buttons" id='login'>
        <a href='/dashboard' class='navText'>Profile</a>
    </div>

    <div class="buttons" id='register'>
        <a href='/logout' class='navText'>Log Out</a>
    </div>
{% endblock %}
