<!--
    our index will have a vacant box for popular trackers
    as well as a box for searching trackeers by Name, ID or Game.
    News pane on the right.
    Log In/Sign Up on top right.
-->

{% extends 'base.html' %}

{% block top_left %}
    <div class="buttons">
        <a href='/' class='navText'  id='home'>winTracker</a>
    </div>
{% endblock %}

{% block top_right %}

    <div class="buttons" id='loginDash'>
        <a href='/dashboard/login' class='navText'>Log In</a>
    </div>

    <div class="buttons" id='accCreate'>
        <a href='/register' class='navText'>Sign Up</a>
    </div>
{% endblock %}
