<!--
    our index will have a vacant box for popular trackers
    as well as a box for searching trackeers by Name, ID or Game.
    News pane on the right.
    Log In/Sign Up on top right.
-->

{% extends 'base.html' %}

{% block top_left %}
    <div class="buttons">
        <a href='/' class='navText' id='home'>winTracker</a>
    </div>
{% endblock %}

{% block top_right %}

    <div class="buttons" >
        <div id='loginDash'>
        <a href='/user/login' class='navText'>Profile</a>
        </div>

        <div id='register'>
        <a href='/register'  class='navText'>Register</a>
        </div>
    </div>

{% endblock %}
