<!--
    this page is where a user will actively track their performance in a game by
    clicking arrows, drop down menus, radio buttons or inserted value.
    Fields on this page MUST match tracker's fields.
-->
{% extends 'base.html' %}

{% block top_left %}
    <div class="buttons">
        <a href='/' class='navText' id='home'>winTracker</a>
    </div>
{% endblock %}

{% block top_right %}
    <div class="buttons" id='loginDash'>
        <a href='/dashboard' class='navText'>Profile</a>
    </div>

    <div class="buttons" id='register'>
        <a href='/logout' class='navText'>Log Out</a>
    </div>
{% endblock %}
